body {
  background-color: whitesmoke;
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-size: 13pt;
  /*margin: 10vh 10em;*/
  margin: 10vh 20vw;
  /*min-width: 1000px;*/
  /*max-width: 1200px;*/
}

text {
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
}

h1,
h2,
h3 {
    font-weight: 600;
}

img#avatar {
    display: block;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

#nav a {
  display: block;
  padding: 0vw 20px;
}

.centertext {
    text-align: center;
}


.colorful1 {
    background: -webkit-linear-gradient(45deg, hsla(351, 93%, 43%, 1) 0%, hsla(351, 93%, 43%, 0) 70%), -webkit-linear-gradient(315deg, hsla(231, 94%, 46%, 1) 10%, hsla(231, 94%, 46%, 0) 80%), -webkit-linear-gradient(225deg, hsla(157, 100%, 46%, 1) 10%, hsla(157, 100%, 46%, 0) 80%), -webkit-linear-gradient(135deg, hsla(211, 94%, 44%, 1) 100%, hsla(211, 94%, 44%, 0) 70%);
    background: linear-gradient(45deg, hsla(351, 93%, 43%, 1) 0%, hsla(351, 93%, 43%, 0) 70%), linear-gradient(135deg, hsla(231, 94%, 46%, 1) 10%, hsla(231, 94%, 46%, 0) 80%), linear-gradient(225deg, hsla(157, 100%, 46%, 1) 10%, hsla(157, 100%, 46%, 0) 80%), linear-gradient(315deg, hsla(211, 94%, 44%, 1) 100%, hsla(211, 94%, 44%, 0) 70%);
}

.colorful2 {
    background: -webkit-linear-gradient(45deg, hsla(118, 96%, 50%, 1) 0%, hsla(118, 96%, 50%, 0) 70%), -webkit-linear-gradient(315deg, hsla(134, 97%, 49%, 1) 10%, hsla(134, 97%, 49%, 0) 80%), -webkit-linear-gradient(225deg, hsla(59, 92%, 49%, 1) 10%, hsla(59, 92%, 49%, 0) 80%), -webkit-linear-gradient(135deg, hsla(30, 99%, 45%, 1) 100%, hsla(30, 99%, 45%, 0) 70%);
    background: linear-gradient(45deg, hsla(118, 96%, 50%, 1) 0%, hsla(118, 96%, 50%, 0) 70%), linear-gradient(135deg, hsla(134, 97%, 49%, 1) 10%, hsla(134, 97%, 49%, 0) 80%), linear-gradient(225deg, hsla(59, 92%, 49%, 1) 10%, hsla(59, 92%, 49%, 0) 80%), linear-gradient(315deg, hsla(30, 99%, 45%, 1) 100%, hsla(30, 99%, 45%, 0) 70%);
}

#topcolorbar {
    margin: 50px 0px;
    transform: scaleY(0.25);
}

#bottomcolorbar {
    margin: 50px 0px;
    transform: scaleY(0.25);
    clear: both;
}

div#vis {
  text-align: center;
}

div.vis {
  text-align: center;
}

/*svg {
  display: block;
  margin: auto;
}*/
